<app-header></app-header>


<div class="sidebar">
    <a routerLink="/technician/changeworkstatus" >Update WorkStatus</a>
    <a routerLink="/technician/setprice" >Set Price</a>
    <a routerLink="/technician/payed">Customer Pay</a>
    <a routerLink="/technician/acceptance" class="active">Work to be Accepted</a>
    <a routerLink="/technician/changepassword">Change Password</a>
</div>

<div class="container">
  <h3 style="justify-content:center;text-align:center;">Work Requests</h3>
      
  <table class="table">
    
    <thead>
      <tr>
        <th scope="col">WR ID</th>
        <th scope="col" style="width:150px;">User Name &nbsp;&nbsp;</th>
        <th scope="col">Service</th>
        <th scope="col">Date Time</th>
        <th scope="col">Accepted</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of allwork |paginate : {itemsPerPage:4,currentPage:p}">
      <tr>
        <td>{{item.wid}} </td>
        <td>{{item.user}} </td>
        <td>{{item.service}}</td>
        <td>{{item.datetime | date :'medium'}}</td>
        <td>{{item.accepted}}</td>
        <td>
            <button class="btn btn-primary" (click)="updateClick(item)">Accept</button>
        </td>
      </tr>
    </tbody>
    
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>


<app-footer></app-footer>