<app-header></app-header>

<div class="image" style="margin-top: 50px;">
    <img  class="img-center" src="assets/img/img4.jpg">
</div>

<div>
    <h2 style="display:flex;justify-content:center;margin-top:150px;background:#1E90FF;color:white;padding:15px;">Contact Us</h2>
</div>

<div class="row justify-content-evenly">
    <div class="col-4">
      <div class="card">
        <h3>Housekeep office,</h3>
        <h3>Street 75,</h3>
        <h3>MG Road,</h3>
        <h3>Mumbai</h3>
        <h3>India</h3>
        <h3 style="margin-top:80px;">immanual1997@gmail.com </h3>
        <h3>+91 2547 554789</h3>
      </div>
    </div>
    <div class="col-4">
        <div class="image">
            <img  class="img-center"  style="height:400px;" src="assets/img/map.JPG">
        </div>
    </div>
</div>

<div style="margin-top:30px;">
</div>
    


<app-footer></app-footer>
